---
const heroBannerData = {
  title: "The Twelve Labors of Hercules",
  author: "Andrew Aguirre",
  description:
    "Hercules' transformation from a flawed mortal into a revered demigod,  a timeless tale of heroism and resilience.",
  category: ["Myths", "Greek", "Hercules"],
  banner: "/images/banner.webp",
  link: "/posts/placeholder-article",
};
---

<section class="comp top-onepost one-post-hero mntl-block">
  <a
    href={heroBannerData.link}
    class="comp one-post-hero__card mntl-document-card mntl-card card card--no-image"
  >
    <div class="card__top">
      <div
        class="card__media mntl-universal-image card__media universal-image__container"
      >
        <div class="img-placeholder" style="padding-bottom:33%">
          <img
            src={heroBannerData.banner}
            alt="some alt text"
            class="card__img universal-image__image lazyloaded"
          />
        </div>
      </div>
    </div>
    <div class="card__content">
      <div
        class="card__header"
        data-kicker={heroBannerData.category.join(" > ")}
      >
      </div>
      <span class="card__title">
        <span class="card__title-text">
          {heroBannerData.title}
        </span>
      </span>
      <div
        class="card__byline mntl-card__byline"
        data-byline={`By ${heroBannerData.author}`}
      >
      </div>
      <div
        class="comp card__description mntl-block"
        data-card-description={heroBannerData.description}
      >
      </div>
    </div>
  </a>
</section>

<style>
  /* --------------- */
  /* General         */
  /* --------------- */

  a {
    color: rgba(0, 0, 0, 0.95);
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    outline: 0;
    transition: color 0.15s ease-out;
  }

  a img {
    border-width: 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  [data-kicker],
  [data-card-description],
  [data-byline] {
    display: block;
  }

  /* --------------- */
  /* Component       */
  /* --------------- */
  /* section class="comp top-onepost one-post-hero mntl-block" */
  .one-post-hero {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: block;

    margin-bottom: 4rem;
  }

  /* a class="comp one-post-hero__card mntl-document-card mntl-card card card--no-image" */
  .card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0.7rem 1rem;
    overflow: hidden;
    width: 100%;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
  }
  .one-post-hero .card {
    overflow: visible;
    padding: 0;
    font-weight: 400;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.15);
  }

  @media (min-width: 50em) {
    .one-post-hero .card {
      position: relative;
      box-shadow: none;
      display: grid;
      grid-template-areas: "card-content";
      align-items: start;
    }
  }

  @media (min-width: 64em) {
    .one-post-hero .card {
      align-items: center;
    }
  }

  /* div class="loc card__top" */
  @media (min-width: 50em) {
    .one-post-hero .card__top {
      grid-area: card-content;
    }
  }

  /* div class="card__media mntl-universal-image card__media universal-image__container" */
  .card__media {
    height: 100%;
    margin-bottom: 1rem;
    order: 1;
    position: relative;
  }
  .one-post-hero .card__media {
    margin-bottom: 0;
  }

  /* div class="img-placeholder" */
  .img-placeholder {
    background-color: #c7c7c7;
    height: 0;
    overflow: hidden;
  }

  .img-placeholder {
    width: 100%;
  }

  /* img class="card__img universal-image__image lazyloaded" */

  .card__img {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;
  }

  /* div class="card__content" */
  .card__content {
    flex-grow: 1;
    order: 2;
    width: 100%;
  }

  .one-post-hero .card__content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: #fff;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.15);
  }

  @media (min-width: 50em) {
    .one-post-hero .card__content {
      grid-area: card-content;
      z-index: 1;
      margin-top: 2rem;
      width: 45%;
      margin-left: max(2rem, calc(50% - 38.125rem));
    }
  }

  @media (min-width: 64em) {
    .one-post-hero .card__content {
      margin-top: 0;
      width: 29.25rem;
    }
  }

  @media (min-width: 70em) {
    .one-post-hero .card__content {
      width: 22.75rem;
    }
  }

  /* div class="card__header" */

  /* ::before */
  .card__header[data-kicker]::before {
    display: block;
    content: attr(data-kicker);
    font-weight: 700;
    text-transform: uppercase;
  }

  .one-post-hero .card__header[data-kicker]::before {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
  }

  .one-post-hero .card__header[data-kicker]::before {
    color: rgba(0, 0, 0, 0.65);
  }

  /* span class="card__title" */
  .card__title {
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2em;
  }

  .one-post-hero .card__title {
    order: 1;
    margin: 0.5rem 0;
  }

  /* span class="card__title-text " */
  .one-post-hero .card__title-text {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
    text-underline-offset: 0.5rem;
  }

  .one-post-hero .card:hover .card__title-text {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25rem;
  }

  @media (min-width: 50em) {
    .one-post-hero .card__title-text {
      font-size: 2.25rem;
      line-height: 2.75rem;
      text-underline-offset: 0.6875rem;
    }
  }

  /* div class="card__byline mntl-card__byline " */
  .one-post-hero .card__byline {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-underline-offset: 0.1875rem;
  }

  .one-post-hero .card__byline {
    color: rgba(0, 0, 0, 0.65);
    order: 3;
  }

  /* ::after */
  .mntl-card__byline:after {
    content: attr(data-byline);
  }

  /* div class="comp card__description mntl-block" */
  .one-post-hero .card__description {
    font-size: 1rem;
    line-height: 1.5rem;
    text-underline-offset: 0.1875rem;

    order: 2;
    margin-bottom: 0.5rem;
  }

  /* ::after */
  .one-post-hero .card__description::after {
    content: attr(data-card-description);
  }
</style>
