---
import { getCollection, getEntry } from "astro:content";
import { formatBlogPosts, formatDate } from "../../script/utils";

type Props = {
  postSlugs: [string, string, string, string];
};

const { postSlugs } = Astro.props as Props;

const placeHolderArticle = await getEntry("blog", "placeholder-article")!;

const blogPosts = await getCollection("blog", ({ slug }) => {
  return postSlugs.includes(slug);
});

const formattedBlogPosts = formatBlogPosts(blogPosts, {
  filterOutDrafts: true,
});

while (formattedBlogPosts.length < 4) {
  formattedBlogPosts.push(placeHolderArticle);
}
---

<section class="comp vertical-list mntl-block">
  <div class="comp vertical-list__content-wrapper mntl-block">
    <div
      class="comp vertical-list__card-list-1 card-list mntl-document-card-list mntl-card-list mntl-block"
    >
      {
        formattedBlogPosts.map((article) => (
          <a
            href={`/posts/${article.slug}`}
            class="comp card--image-left mntl-card-list-items mntl-document-card mntl-card card card--no-image"
          >
            <div class="loc card__top">
              <div class="card__media mntl-universal-image card__media universal-image__container">
                <div class="img-placeholder" style="padding-bottom: 66.6%">
                  <img
                    src={article.data.image.src}
                    alt={article.data.image.alt}
                    class={`card__img universal-image__image lazyloaded ${
                      article.data.imageAnchor &&
                      `shift-${article.data.imageAnchor}`
                    }`}
                  />
                </div>
              </div>
            </div>
            <div class="card__content" data-tag={article.data.category[0]}>
              <div class="card__header" />
              <span class="card__title">
                <span class="card__title-text ">{article.data.title}</span>
              </span>
              <div
                class="card__byline mntl-card__byline"
                data-byline={`By ${article.data.author} • ${formatDate(
                  article.data.date
                )}`}
              />
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <div class="comp vertical-list__sidebar mntl-block">
    <div
      class="comp mntl-square-flex-1 mntl-billboard mntl-gpt-adunit gpt billboard"
    >
      <div class="wrapper">
        <div>
          <img
            src="/images/adslot.png"
            alt="adslot"
            style="border: 0px; vertical-align: bottom;"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* --------------- */
  /* General         */
  /* --------------- */

  a {
    color: rgba(0, 0, 0, 0.95);
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    outline: 0;
    transition: color 0.15s ease-out;
  }

  a img {
    border-width: 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  /* --------------- */
  /* Component       */
  /* --------------- */
  /* section class="comp vertical-list mntl-block" */
  .vertical-list {
    display: flex;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    flex-wrap: wrap;

    margin-bottom: 4rem;
  }

  /* @media (min-width: 50em) {
    .vertical-list {
      margin-bottom: 1.5rem;
    }
  } */

  @media (min-width: 70em) {
    .vertical-list {
      -moz-column-gap: 7rem;
      column-gap: 7rem;
    }
  }

  /* div class="comp vertical-list__content-wrapper mntl-block" */
  .vertical-list__content-wrapper {
    flex: 1 1;
  }

  /* div class="comp vertical-list__card-list-1 card-list mntl-document-card-list mntl-card-list mntl-block" */
  .mntl-card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @supports (display: grid) {
    .mntl-card-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .card-list {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .vertical-list .card-list {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  /* a class="class="comp card--image-left mntl-card-list-items mntl-document-card mntl-card card card--no-image" */
  .card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0.7rem 1rem;
    overflow: hidden;
    width: 100%;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
  }
  .mntl-card-list .card {
    margin-bottom: 1rem;
    padding: 0;
  }
  @supports (display: grid) {
    .mntl-card-list .card {
      margin-bottom: 0;
    }
  }

  .card-list .card {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    overflow: initial;
    background: 0 0;
    padding: 0;
    border: 0;
    padding: 1rem 0;
  }

  .card-list .card:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .vertical-list .card.card--image-left {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    overflow: initial;
    background: 0 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 2rem 0;
  }

  @media (min-width: 50em) {
    .vertical-list .card.card--image-left {
      padding: 2.5rem 0;
    }
  }

  /* div class="loc card__top" */

  /* div class="card__media mntl-universal-image card__media universal-image__container" */
  .card__media {
    height: 100%;
    margin-bottom: 1rem;
    order: 1;
    position: relative;
  }

  .card-list .card .card__media {
    width: 9.9375rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .card-list .card .card__media {
    margin-right: 0.75rem;
  }

  .vertical-list .card.card--image-left .card__media {
    width: 9.9375rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .vertical-list .card.card--image-left .card__media {
    width: 10rem;
    height: 6.625rem;
  }

  @media (min-width: 50em) {
    .vertical-list .card.card--image-left .card__media {
      margin-right: 1.5rem;
      width: 15.5rem;
      height: 10.3125rem;
    }
  }

  /* div class="img-placeholder" */
  .img-placeholder {
    background-color: #c7c7c7;
    height: 0;
    overflow: hidden;
  }

  .img-placeholder {
    width: 100%;
  }

  /* img class="card__img universal-image__image lazyloaded" */
  .card__img {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;

    /* my property to center images in 3:2 containers */
    transform: translateY(-16.666%);
  }

  .card-list .card .card__img {
    width: 9.9375rem;
    /* height: 6.625rem; */
    filter: contrast(93%);
    -o-object-fit: cover;
    object-fit: cover;
  }

  .vertical-list .card.card--image-left .card__img {
    width: 10rem;
    /* height: 6.625rem; */
  }

  @media (min-width: 50em) {
    .vertical-list .card.card--image-left .card__img {
      margin-right: 1.5rem;
      width: 15.5rem;
      /* height: 10.3125rem; */
    }
  }

  /* div class="card__content" */
  .card__content {
    flex-grow: 1;
    order: 2;
    width: 100%;
  }

  .card-list .card .card__content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .vertical-list .card.card--image-left .card__content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /* ::before */
  .mntl-document-card-list .card__content[data-tag]:before {
    display: block;
    content: attr(data-tag);
    font-weight: 700;
    text-transform: uppercase;
  }

  .card.card--no-image .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
  }

  .card-list .card .card__content[data-tag]::before {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
  }

  .card-list .card .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
  }

  .vertical-list .card.card--image-left .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
  }

  /* div class="card__header" */

  /* span class="card__title" */
  .card__title {
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2em;
  }

  .card-list .card .card__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.25rem;
    order: 1;
  }

  .card-list .card .card__title {
    margin-bottom: 0.75rem;
  }

  .vertical-list .card .card__title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-underline-offset: 0.3125rem;
  }

  @media (min-width: 50em) {
    .vertical-list .card .card__title {
      font-size: 1.5rem;
      line-height: 2rem;
      text-underline-offset: 0.5rem;
    }
  }

  .vertical-list .card.card--image-left .card__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.25rem;
    order: 1;
  }

  .vertical-list .card.card--image-left .card__title {
    margin-bottom: 0.5rem;
  }

  /* span class="card__title-text" */
  .card-list .card .card__title-text {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-underline-offset: 0.3125rem;
  }

  @media (min-width: 50em) {
    .card-list .card .card__title-text {
      font-size: 1.5rem;
      line-height: 2rem;
      text-underline-offset: 0.5rem;
    }
  }

  .card-list .card .card__title-text {
    color: rgba(0, 0, 0, 0.95);
  }

  .vertical-list .card.card--image-left .card__title-text {
    color: rgba(0, 0, 0, 0.95);
  }

  .vertical-list .card.card--image-left:hover .card__title-text {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25rem;
  }

  /* div class="card__byline mntl-card__byline" */
  div[data-byline] {
    display: block;
  }

  .card-list .card .card__byline {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-underline-offset: 0.1875rem;
  }

  .card-list .card .card__byline {
    order: 3;
  }
  .vertical-list .card.card--image-left .card__byline {
    order: 3;
  }

  /* ::after */
  .mntl-card__byline:after {
    content: attr(data-byline);
  }
  .card-list .card .card__byline::after {
    color: rgba(0, 0, 0, 0.65);
  }

  .vertical-list .card.card--image-left .card__byline::after {
    color: rgba(0, 0, 0, 0.65);
  }

  /* div class="comp vertical-list__sidebar mntl-block" */
  .vertical-list__sidebar {
    display: none;
    position: relative;
    flex: 0 0 18.75rem;
  }

  @media (min-width: 64em) {
    .vertical-list__sidebar {
      display: block;
    }
  }

  /* div class="comp mntl-square-flex-1 mntl-billboard mntl-gpt-adunit gpt billboard" */
  .gpt {
    display: block;
    text-align: center;
    max-width: none;
  }
  .billboard {
    min-width: 300px;
    text-align: center;
    margin: 0.34rem 0;
  }

  .mntl-billboard {
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: calc(250px + (30px * 2));
  }

  .billboard.mntl-billboard {
    min-height: calc(250px + 2.5rem);
  }

  .vertical-list__sidebar .mntl-square-flex-1 {
    position: sticky;
    top: 4rem;
    /* top: 8rem; */
    margin-top: 2.5rem;
  }

  /* div class="wrapper" */
  .billboard .wrapper,
  .billboard iframe,
  .billboard img {
    margin: 0 auto;
  }

  .billboard .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* ::before */
  /* ::after */
  .billboard .wrapper::after,
  .billboard .wrapper::before {
    font-size: 0.75rem;
    line-height: 1rem;
    text-underline-offset: 0.125rem;
  }

  .billboard .wrapper::after,
  .billboard .wrapper::before {
    display: block;
    content: "Advertisement";
    color: rgba(0, 0, 0, 0.65);
    height: 1rem;
  }

  .billboard .wrapper::before {
    margin-bottom: 0.25rem;
  }
  .billboard .wrapper::after {
    margin-top: 0.25rem;
  }

  /* --------------- */
  /* Custom          */
  /* --------------- */

  .shift-top {
    transform: translateY(0);
  }

  .shift-center {
    transform: translateY(-16.666%);
  }

  .shift-bottom {
    transform: translateY(-33.333%);
  }
</style>
