---
import { getCollection, getEntry } from "astro:content";
import { formatBlogPosts, slugify } from "@scripts/utils";
import { categories } from "@config/constants";

// We create a Category type by using typeof categories[number]. This type represents the union of all the values in the categories array, which are "Myths" and "Symbols" in this case.
type Category = (typeof categories)[number];

type Props = {
  category?: Category;
  postSlugs: [string, string, string];
};

const { category = "Category", postSlugs } = Astro.props as Props;

const placeHolderArticle = await getEntry("blog", "placeholder-article")!;

const blogPosts = await getCollection("blog", ({ slug }) => {
  return postSlugs.includes(slug);
});

const formattedBlogPosts = formatBlogPosts(blogPosts, {
  filterOutDrafts: true,
});

while (formattedBlogPosts.length < 3) {
  formattedBlogPosts.push(placeHolderArticle);
}
---

<section class="comp three-post mntl-block">
  <a
    href={`/categories/${slugify(category)}`}
    class="three-post__title section-title mntl-text-link type--giraffe-link animate-arrow"
  >
    <h2 class="comp section-title__heading mntl-text-block">{category}</h2>
    <svg
      class="icon icon-arrow icon-arrow_right"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m12 2-1.762 1.762 6.975 6.988H2v2.5h15.213l-6.988 6.987L12 22l10.001-10L12 2Z"
      ></path></svg
    >
  </a>
  <div
    class="comp three-post__inner card-list mntl-document-card-list mntl-card-list mntl-block"
  >
    {
      formattedBlogPosts.map((article) => (
        <a
          href={`/posts/${article.slug}`}
          class="comp card--image-top mntl-card-list-items mntl-document-card mntl-card card card--no-image"
        >
          <div class="loc card__top">
            <div class="card__media mntl-universal-image card__media universal-image__container">
              <div class="img-placeholder" style="padding-bottom:66.6%;">
                <img
                  src={article.data.image.src}
                  alt={article.data.image.alt}
                  class={`card__img universal-image__image lazyloaded ${
                    article.data.imageAnchor &&
                    `shift-${article.data.imageAnchor}`
                  }`}
                />
              </div>
            </div>
          </div>
          <div class="card__content" data-tag={article.data.category[0]}>
            <div class="card__header" />
            <span class="card__title">
              <span class="card__title-text">{article.data.title}</span>
            </span>
            <div
              class="card__byline mntl-card__byline"
              data-byline={article.data.subtitle}
            />
          </div>
        </a>
      ))
    }
  </div>
</section>

<style>
  /* --------------- */
  /* General         */
  /* --------------- */

  a {
    color: rgba(0, 0, 0, 0.95);
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    outline: 0;
    transition: color 0.15s ease-out;
  }

  a img {
    border-width: 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  /* --------------- */
  /* Component       */
  /* --------------- */
  /* section class="comp three-post mntl-block" */
  .three-post {
    margin-bottom: 4rem;
  }

  /* a class=" three-post__title section-title mntl-text-link type--giraffe-link" */
  .type--giraffe-link {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-underline-offset: 0.25rem;
  }

  .type--giraffe-link:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }

  .section-title {
    display: block;
    text-align: center;
    font-size: 0;
    line-height: 0;
  }

  .three-post__title {
    margin-bottom: 2rem;
  }

  /* h2 class="comp section-title__heading mntl-text-block" */
  .section-title__heading {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-underline-offset: 0.25rem;
  }
  .section-title__heading {
    display: inline;
    text-transform: capitalize;
  }

  @media (min-width: 50em) {
    .section-title__heading {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }

  /* svg class="icon icon-arrow icon-arrow_right" */
  .section-title .icon {
    fill: rgb(var(--color-base-accent));
  }
  .section-title .icon {
    margin-left: 0.5rem;
  }

  .three-post .icon-arrow_right {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(var(--color-base-accent));
    margin-left: 0.5rem;
  }

  /* path */
  .animate-arrow .icon-arrow path {
    transform: translate(-0.15625rem);
    transition: transform 0.1s ease;
  }

  .animate-arrow:hover .icon-arrow path {
    transform: translate(0.15625rem);
  }

  /* div class="comp three-post__inner card-list mntl-document-card-list mntl-card-list mntl-block" */
  .mntl-card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @supports (display: grid) {
    .mntl-card-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }
  .card-list {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  @media (min-width: 50em) {
    .three-post__inner.card-list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      align-items: flex-start;
    }
  }

  @media (min-width: 64em) {
    .three-post__inner.card-list {
      grid-gap: 3rem;
    }
  }

  /* a class="comp card--image-top mntl-card-list-items mntl-document-card mntl-card card card--no-image" */
  .card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0.7rem 1rem;
    overflow: hidden;
    width: 100%;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
  }

  .mntl-card-list .card {
    margin-bottom: 1rem;
    padding: 0;
  }

  @supports (display: grid) {
    .mntl-card-list .card {
      margin-bottom: 0;
    }
  }

  .card-list .card {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    overflow: initial;
    background: 0 0;
    padding: 0;
    border: 0;
    padding: 1rem 0;
  }

  .card-list .card:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .three-post__inner.card-list .card--image-top {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    overflow: initial;
    padding: 0;
  }

  .three-post__inner.card-list .card--image-top:not(:last-child) {
    margin-bottom: 2rem;
  }

  .three-post__inner.card-list .card--image-top.card,
  .three-post__inner.card-list .card--image-top.card:not(:last-child) {
    border-width: 0;
  }

  /* div class="loc card__top" */

  /* div class="card__media mntl-universal-image card__media universal-image__container" */
  .card__media {
    height: 100%;
    margin-bottom: 1rem;
    order: 1;
    position: relative;
  }

  .card-list .card .card__media {
    width: 9.9375rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .card-list .card .card__media {
    margin-right: 0.75rem;
  }

  .three-post__inner.card-list .card--image-top .card__media {
    margin-right: 0;
    margin-bottom: 0;
    width: auto;
  }
  .three-post__inner.card-list .card--image-top .card__media {
    margin: 0;
  }

  /* div class="img-placeholder" */
  .img-placeholder {
    background-color: #c7c7c7;
    height: 0;
    overflow: hidden;
  }
  .img-placeholder {
    width: 100%;
  }

  /* img class="card__img universal-image__image lazyloaded" */
  .card__img {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;

    /* my property to center images in 3:2 containers */
    transform: translateY(-16.666%);
  }

  .card-list .card .card__img {
    width: 9.9375rem;
    height: 6.625rem;
    filter: contrast(93%);
    -o-object-fit: cover;
    object-fit: cover;
  }

  .three-post__inner.card-list .card--image-top .card__img {
    width: 100%;
    height: auto;
  }

  /* div class="card__content" */
  .card__content {
    flex-grow: 1;
    order: 2;
    width: 100%;
  }

  .card-list .card .card__content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .three-post__inner.card-list .card--image-top .card__content {
    display: flex;
    flex-direction: column;
  }

  .three-post__inner.card-list .card--image-top .card__content {
    padding: 1rem 0 0;
  }

  /* ::before */
  .mntl-document-card-list .card__content[data-tag]:before {
    display: block;
    content: attr(data-tag);
    font-weight: 700;
    text-transform: uppercase;
  }

  .card.card--no-image .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
  }

  .card-list .card .card__content[data-tag]::before {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
  }

  .card-list .card .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
  }

  .three-post__inner.card-list
    .card--image-top
    .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
  }

  /* div class="card__header" */

  /* span class="card__title" */
  .card__title {
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2em;
  }

  .card-list .card .card__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.25rem;
    order: 1;
  }

  .card-list .card .card__title {
    margin-bottom: 0.75rem;
  }

  .three-post__inner.card-list .card--image-top .card__title {
    order: 1;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .three-post__inner.card-list .card--image-top .card__title {
    margin-bottom: 0.5rem;
  }
  /* span class="card__title-text" */
  .card-list .card .card__title-text {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-underline-offset: 0.3125rem;
  }

  .card-list .card .card__title-text {
    color: rgba(0, 0, 0, 0.95);
  }

  .three-post__inner.card-list .card--image-top .card__title-text {
    color: rgba(0, 0, 0, 0.95);
    text-decoration-thickness: 1px;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.95);
    text-decoration-color: rgba(0, 0, 0, 0.95);
  }

  .three-post__inner.card-list .card--image-top .card__title-text {
    font-size: 1.5rem;
    line-height: 2rem;
    text-underline-offset: 0.4375rem;
  }

  .three-post__inner.card-list .card--image-top:hover .card__title-text {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.125rem;
  }

  .three-post__inner.card-list .card--image-top:hover .card__title-text {
    text-underline-offset: 0.25rem;
  }

  /* div class="card__byline mntl-card__byline" */

  div[data-byline] {
    display: block;
  }

  .card-list .card .card__byline {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-underline-offset: 0.1875rem;
  }

  .card-list .card .card__byline {
    order: 3;
  }
  .three-post__inner.card-list .card--image-top .card__byline {
    order: 3;
  }

  /* ::after */
  .mntl-card__byline:after {
    content: attr(data-byline);
  }
  .card-list .card .card__byline::after {
    color: rgba(0, 0, 0, 0.65);
  }

  .three-post__inner.card-list .card--image-top .card__byline::after {
    color: rgba(0, 0, 0, 0.65);
  }

  /* --------------- */
  /* Custom          */
  /* --------------- */

  .shift-top {
    transform: translateY(0);
  }

  .shift-center {
    transform: translateY(-16.666%);
  }

  .shift-bottom {
    transform: translateY(-33.333%);
  }
</style>
