---
import MainLayout from "../../../layouts/MainLayout.astro";
import CategoryHeader from "../../../components/Categories/CategoryHeader.astro";
import CategoryBody from "../../../components/Categories/CategoryBody.astro";
import CategoryFeatured from "../../../components/Categories/CategoryFeatured.astro";
import Pagination from "../../../components/Pagination.astro";
import {
  generateGetStaticPathsAsyncFunction,
  generateCategoryPageProps,
} from "../../../script/categories";

export const getStaticPaths = generateGetStaticPathsAsyncFunction({
  categoryName: "Hercules",
  options: {
    postsToFilterOut: [
      "twelve-labors-of-hercules-5",
      "twelve-labors-of-hercules-4",
      "twelve-labors-of-hercules-3",
      "twelve-labors-of-hercules-2",
    ],
    sort: "new-old",
  },
});

const {
  page,
  url: { prev, next },
  currentPage,
  lastPage,
  metaData,
  path,
} = generateCategoryPageProps({ categoryName: "Hercules", props: Astro.props });
---

<MainLayout title={metaData.title} description={metaData.description}>
  <section class="comp taxonomysc mntl-taxonomysc">
    <CategoryHeader
      title="Myths"
      image="/images/hercules-banner.webp"
      description={metaData.description}
    />
    <CategoryFeatured
      postSlugs={[
        "twelve-labors-of-hercules-5",
        "twelve-labors-of-hercules-4",
        "twelve-labors-of-hercules-3",
        "twelve-labors-of-hercules-2",
      ]}
      sort="new-old"
    />
    <CategoryBody posts={page?.data} />
    <Pagination {prev} {next} {currentPage} {lastPage} {path} />
  </section>
</MainLayout>

<style>
  /* ------------- */
  /* General       */
  /* ------------- */
  section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
  }

  /* ------------- */
  /* component     */
  /* ------------- */
  /* section class="comp taxonomysc mntl-taxonomysc" */
  .taxonomysc {
    padding: 0;

    background-color: #fbf9f6;
  }
</style>
