---
import "../../styles/blog-styles.css";
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { InferGetStaticPropsType } from "astro";
import {
  formatDate,
  slugify,
  getImages,
  getNextId,
  resetIdCounter,
} from "../../script/utils";
import socialShare from "../../script/socialShare";
import { blurryImageUrl } from "../../config/constants";

import Paragraph from "../../components/Article/Paragraph.astro";
import Callout from "../../components/Article/Callout.astro";
import RelatedLink from "../../components/Article/RelatedLink.astro";
import Section from "../../components/Article/Section.astro";
import ImageBlock from "../../components/Article/ImageBlock.astro";

import ModalOpener from "../../components/Modal/ModalOpener.astro";
import ImageModal from "../../components/Modal/ImageModal.astro";
import RelatedStories from "../../components/Article/RelatedStories.astro";
import PreviousNextLinks from "../../components/Article/PreviousNextLinks.astro";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return !data.draft;
  });

  return blogPosts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: { post },
  }));
}

type PostPageProps = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props as PostPageProps;
const { title, subtitle, description, author, category, date, image, article } =
  post.data;

resetIdCounter();
const allImages = getImages(post.data);
---

<MainLayout {title} {description} {image} data={post.data}>
  <article
    class="page-width comp mntl-article--two-column-right-rail sc-ad-container beauty-article mntl-article"
  >
    <!-- ============== -->
    <!-- Article Header -->
    <!-- ============== -->
    <div class="loc article-header">
      <div class="comp article-top mntl-block">
        <div class="comp article-header__breadcrumb mntl-block">
          <ul class="comp breadcrumb mntl-block">
            {
              category.map((categoryTitle) => (
                <li class="comp breadcrumb__list-item mntl-block">
                  <a
                    href={`/categories/${slugify(categoryTitle)}`}
                    class="link link--text mntl-text-link breadcrumb__link"
                  >
                    <span class="link__wrapper">{categoryTitle}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <h1 class="comp article-heading mntl-text-block">{title}</h1>
        <p class="comp article-subheading mntl-text-block">
          {subtitle}
        </p>
        <div class="comp article-meta mntl-block">
          <div class="comp beauty-bylines mntl-bylines">
            <div
              class="comp mntl-bylines__group--author mntl-bylines__group mntl-block"
            >
              <div
                class="comp mntl-bylines__item mntl-attribution__item mntl-attribution__item--has-date"
              >
                <span class="mntl-attribution__item-descriptor">Art by</span>
                <div class="mntl-dynamic-tooltip--trigger" data-tooltip="">
                  <a
                    href="/author"
                    class="mntl-attribution__item-name"
                    tabindex="-1">{author}</a
                  >
                </div>
              </div>
              <div class="mntl-attribution__item-date">
                Posted on {formatDate(date)}
              </div>
            </div>
          </div>
        </div>
        <ul class="list-unstyled comp social-share mntl-social-share share">
          <li class="share-item share-item-facebook">
            <span
              class="share-link share-link-facebook"
              tabindex="0"
              title="Share on Facebook"
              aria-label="Share on Facebook"
              role="link"
              onclick={socialShare.facebook(Astro.url.toString())}
            >
              <svg class="icon icon-facebook">
                <use href="#icon-facebook"> </use>
              </svg>
            </span>
          </li>
          <li class="share-item share-item-pinterest">
            <span
              class="share-link share-link-pinterest"
              tabindex="0"
              title="Share on Pinterest"
              aria-label="Share on Pinterest"
              role="link"
              onclick={socialShare.pinterest(
                Astro.url.toString(),
                image.src,
                title
              )}
            >
              <svg class="icon icon-pinterest">
                <use href="#icon-pinterest"> </use>
              </svg>
            </span>
          </li>
          <li class="share-item share-item-twitter">
            <span
              class="share-link share-link-twitter"
              tabindex="0"
              title="Share on Twitter"
              aria-label="Share on Twitter"
              role="link"
              onclick={socialShare.twitter(Astro.url.toString(), title)}
            >
              <svg class="icon icon-twitter">
                <use href="#icon-twitter"></use>
              </svg>
            </span>
          </li>
          <li class="share-item share-item-reddit">
            <span
              class="share-link share-link-reddit"
              tabindex="0"
              title="Share on Reddit"
              aria-label="Share on Reddit"
              role="link"
              onclick={socialShare.reddit(Astro.url.toString(), title)}
            >
              <svg class="icon icon-reddit">
                <use href="#icon-reddit"></use>
              </svg>
            </span>
          </li>
          <li class="share-item share-item-emailshare">
            <span
              class="share-link share-link-emailshare"
              tabindex="0"
              title="Share with Email"
              aria-label="Share with Email"
              role="link"
              onclick={socialShare.email(
                Astro.url.toString(),
                title,
                description
              )}
            >
              <svg class="icon icon-emailshare">
                <use href="#icon-emailshare"></use>
              </svg>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <!-- =============== -->
    <!-- Article Content -->
    <!-- =============== -->
    <div class="loc article-content">
      <div class="comp article__body right-rail mntl-block">
        <div class="comp list-sc mntl-block">
          <figure class="comp mntl-universal-primary-image primary-image">
            <div class="primary-image__media">
              <div class="img-placeholder" style="padding-bottom: 100%;">
                <img
                  src={image.src}
                  alt={image.alt}
                  class="primary-image__image mntl-primary-image--blurry"
                  onload="(function(e){e.classList.add('loaded')})(this)"
                  style={`--blurry: url(${blurryImageUrl})`}
                />
                <noscript>
                  <img
                    src={image.src}
                    alt={image.alt}
                    class="primary-image__image mntl-primary-image--blurry loaded"
                  />
                </noscript>
                <ModalOpener mediaId={1} />
              </div>
            </div>
            <figcaption
              class="comp primary-image__figcap mntl-figure-caption figure-article-caption"
            >
              <span class="figure-article-caption-owner">
                <p>
                  {image.alt}
                </p>
              </span>
            </figcaption>
          </figure>
          <div class="comp article-intro mntl-block">
            {
              article.intro.map((item) => {
                switch (item.tag) {
                  case "Callout":
                    return <Callout {...item.params} />;
                  case "RelatedLink":
                    return <RelatedLink {...item.params} />;
                  default:
                    return <Paragraph {...item.params} />;
                }
              })
            }
          </div>
          <div class="comp list-sc__content mntl-sc-page mntl-block">
            {
              article.content.map((section, index: number) => {
                return (
                  <Section
                    page={index + 1 < 11 ? `0${index + 1}` : index + 1}
                    pageTotal={article.content.length}
                    title={section.title}
                  >
                    {section.data.map((item) => {
                      switch (item.tag) {
                        case "Callout":
                          return <Callout {...item.params} />;
                        case "ImageBlock":
                          return (
                            <ImageBlock
                              {...item.params}
                              mediaId={getNextId()}
                            />
                          );
                        case "RelatedLink":
                          return <RelatedLink {...item.params} />;
                        default:
                          return <Paragraph {...item.params} />;
                      }
                    })}
                  </Section>
                );
              })
            }
          </div>
          <div class="comp article-outro mntl-block">
            {
              article.outro.text.length > 0 && (
                <Paragraph text={article.outro.text} />
              )
            }
            <PreviousNextLinks {...article.outro.links} />
          </div>
        </div>
      </div>
    </div>
    <!-- ================== -->
    <!-- Article Right Rail -->
    <!-- ================== -->
    <div class="loc article-right-rail">
      <div class="comp mntl-right-rail mntl-block">
        <div
          class="comp js-scads-inline-content listsc-billboard-group mntl-block"
        >
          {
            [1, 2, 3, 4, 5, 6].map((item) => (
              <div class="comp mntl-block">
                <div class="comp scads-to-load right-rail__item billboard1-sticky-dynamic billboard-sticky mntl-sc-sticky-billboard rightrail-ad-placed">
                  <div
                    class="comp mntl-billboard mntl-sc-sticky-billboard-ad billboard1-dynamic mntl-dynamic-billboard mntl-gpt-dynamic-adunit mntl-gpt-adunit gpt billboard dynamic js-immediate-ad js-immediate-ad-loaded"
                    style="position: sticky; top: 125px;"
                  >
                    <div class="wrapper">
                      <img src="/images/adslot.png" alt="ad slot" />
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </article>
  <RelatedStories currentArticle={post.slug} />
  <ImageModal images={allImages} />
</MainLayout>

<style>
  /* ------------------ */
  /* Component          */
  /* ------------------ */
  /* article class="page-width comp mntl-article--two-column-right-rail sc-ad-container beauty-article mntl-article" */
  .mntl-article {
    padding: 0 1rem;
    display: grid;
    position: relative;
    margin: 0 auto 1.5rem;
    grid-template-columns: minmax(0, 37.5rem);
    grid-template-areas:
      "header"
      "content";
  }

  .mntl-article:not(.mntl-article--three-column) {
    margin-top: 1.5rem;
    -moz-column-gap: 4.75rem;
    column-gap: 4.75rem;
  }

  @media (min-width: 34em) {
    .mntl-article {
      padding: 0 1.5rem;
    }
  }

  @media (min-width: 50em) {
    .mntl-article {
      padding: 0 2rem;
    }
  }

  @media (min-width: 50em) {
    .mntl-article--two-column-right-rail {
      grid-template-columns: minmax(0, 37.5rem) 18.75rem;
      -moz-column-gap: 2.5rem;
      column-gap: 2.5rem;
      grid-template-areas:
        "header header"
        "content right-rail";
    }
  }

  @media (min-width: 64em) {
    .mntl-article--two-column-right-rail {
      -moz-column-gap: 3rem;
      column-gap: 3rem;
    }
  }

  @media (min-width: 70em) {
    .mntl-article--two-column-right-rail {
      -moz-column-gap: 6rem;
      column-gap: 6rem;
    }
  }

  /* ------------------ */
  /* Article Header     */
  /* ------------------ */

  /* div class="loc article-header" */
  .article-header {
    grid-area: header;
  }

  /* div class="comp article-top article-header mntl-block" */
  .article-top {
    color: #707070;
  }

  /* div class="comp article-header__breadcrumb mntl-block" */
  .article-header__breadcrumb {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  /* ul class="comp breadcrumb mntl-block" */

  .breadcrumb {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.6875rem;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0.5rem;
    z-index: 1;
  }

  .breadcrumb {
    color: #222;
  }

  /* li class="comp breadcrumb__list-item mntl-block" */
  .breadcrumb__list-item {
    white-space: nowrap;
  }

  /* ::before */

  .breadcrumb__list-item + .breadcrumb__list-item::before {
    content: "•";
    display: inline-block;
    margin: 0.125rem 0.4125rem 0 0.3125rem;
    width: 0.625rem;
    height: 0.625rem;
    vertical-align: middle;
    color: rgb(var(--color-base-accent));
    background-color: transparent;
    transform: translateY(-1.3rem);

    font-size: 1.775rem;
  }

  /* a class="link link--text mntl-text-link breadcrumb__link" */
  .breadcrumb__link {
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    transition: color ease 0.15s;
    font-size: 0.8125rem;
  }

  .breadcrumb__link:hover {
    color: #da2525;
  }

  /* span */

  /* h1 class="comp article-heading mntl-text-block" */

  .article-heading {
    margin-bottom: 0.25rem;
    font-size: 2.625rem;
  }

  /* p class="comp article-subheading mntl-text-block" */

  .article-subheading {
    color: #707070;
    margin: 0 0 1rem;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  .article-subheading {
    color: #666;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    letter-spacing: normal;
  }

  /* div class="comp article-meta mntl-block" */
  .article-meta {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 0.625rem;
  }

  /* div class="comp beauty-bylines mntl-bylines" */
  .beauty-bylines {
    display: inline-block;
    font-size: 0.6875rem;
    letter-spacing: 0.5px;
    letter-spacing: 0.75px;
    line-height: 1.6;
  }

  /* div class="comp mntl-bylines__group--author mntl-bylines__group mntl-block" */
  .mntl-bylines__group {
    line-height: 1;
  }

  /* div class="comp mntl-bylines__item mntl-attribution__item mntl-attribution__item--has-date" */

  .mntl-bylines__item {
    line-height: 1.6;
    color: #666;
    font-size: 0.8125rem;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-right: 0.1rem;
  }

  .mntl-attribution__item,
  .mntl-attribution__item--has-date {
    display: inline;
  }

  .mntl-bylines__item.mntl-attribution__item--has-date {
    white-space: nowrap;
  }

  /* ::after */

  .mntl-bylines__item.mntl-attribution__item--has-date:after {
    content: "|";
    margin: 0 0.25rem;
    font-size: 1rem;
  }

  /* span class="mntl-attribution__item-descriptor" */

  /* div class="mntl-dynamic-tooltip--trigger" data-tooltip="" */

  [data-tooltip] {
    display: inline-block;
  }

  .mntl-bylines__item .mntl-dynamic-tooltip--trigger {
    position: static;
  }

  /* a class="mntl-attribution__item-name" */
  .mntl-attribution__item-name {
    display: inline;
    position: relative;

    margin-left: 0.25rem;
  }

  /* div class="mntl-attribution__item-date" */
  .mntl-attribution__item-date {
    font-size: 0.8125rem;
    letter-spacing: normal;
    text-transform: none;
    line-height: 1.5rem;
  }

  .mntl-attribution__item-date.mntl-attribution__item-date {
    display: inline-block;
    color: #757575;
  }

  /* ul class="comp social-share mntl-social-share share" */

  .share {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    order: 3;
  }

  .social-share {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 1.25rem;
    list-style-type: none;
    z-index: 0;
  }

  /* li class="share-item share-item-facebook" */
  .share-item {
    flex: 0 0 auto;
  }
  .share-item:first-child {
    margin-left: 0;
  }

  /* span class="share-link share-link-facebook" tabindex="0" title="Facebook" aria-label="Facebook" role="link" */

  .share-link {
    display: block;
    text-align: center;
    border: 0;
    cursor: pointer;
    overflow: hidden;
  }

  .share-link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    overflow: visible;
    transition: background 0.15s ease, color 0.15s ease;
    border-radius: 50%;
    font-size: 0;
    background: 0 0;
    margin-right: 0.25rem;
  }
  /* ::before */

  .share-link:before {
    content: "";
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    transition: background 0.15s ease;
  }

  .share-link-facebook::before {
    background-color: #3f5a94;
  }
  .share-link-facebook:hover:before {
    background: #374f82;
  }

  /* svg class="icon icon-facebook" */

  .social-share .icon {
    flex: 0 0 auto;
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    pointer-events: none;
    fill: #fff;
    transform: scale(0.5);
    margin-right: 0.5rem;
  }

  /* svg class="icon icon-reddit" */
  .social-share .icon.icon-reddit {
    transform: scale(1);
  }
  /* span class="share-link share-link-pinterest" tabindex="0" title="Pinterest" aria-label="Pinterest" role="link" */
  .share-link-pinterest::before {
    background: #cb2027;
  }

  .share-link-pinterest:hover::before {
    background: #b51d23;
  }
  /* span class="share-link share-link-twitter" tabindex="0" title="twitter" aria-label="twitter" role="link" */
  .share-link-twitter::before {
    background: #55adee;
  }
  .share-link-twitter:hover::before {
    background: #1799ef;
  }

  /* span class="share-link share-link-emailshare" tabindex="0" title="Emailshare" aria-label="Emailshare" role="link" */
  .share-link-emailshare::before {
    background: #666;
  }
  .share-link-emailshare:hover::before {
    background: #222;
  }
  /* span class="share-link share-link-reddit" tabindex="0" title="Share on Reddit" aria-label="Share on Reddit" role="link" */
  .share-link-reddit::before {
    background: #ff5700;
  }
  .share-link-reddit:hover::before {
    background: #cc4600;
  }

  /* ------------------ */
  /* Article Content    */
  /* ------------------ */

  /* div class="loc article-content" */
  .article-content {
    grid-area: content;
  }

  /* div class="comp article__body right-rail mntl-block" */

  /* div class="comp list-sc mntl-block" */

  /* figure class="comp mntl-universal-primary-image primary-image" */

  .primary-image {
    width: 100vw;
    margin: 0 0 2rem -0.625rem;
  }

  @media (min-width: 34em) {
    .primary-image {
      width: auto;
      margin: 0 0 2rem;
    }
  }
  .primary-image {
    margin-left: -1rem;
  }

  @media (min-width: 34em) {
    .primary-image {
      margin-left: 0;
    }
  }
  /* div class="primary-image__media" */
  .primary-image__media {
    position: relative;
    margin-bottom: 0.3rem;
  }

  /* class="img-placeholder" */
  .img-placeholder {
    background-color: #c7c7c7;
    height: 0;
    overflow: hidden;
  }
  .img-placeholder {
    background-color: #c7c7c7;
    position: relative;
    width: 100%;
  }

  .img-placeholder.img-placeholder {
    background: #eee;
  }

  /* img  class="primary-image__image mntl-primary-image--blurry" */

  .mntl-primary-image--blurry {
    background-image: var(--blurry);
    background-size: 100% 100%;
    transition: 0.15s filter linear;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .primary-image__image {
    width: 100%;
  }

  .mntl-primary-image--blurry.loaded {
    background-image: none;
  }

  /* figcaption class="comp primary-image__figcap mntl-figure-caption figure-article-caption" */
  figcaption {
    line-height: 1.1;
    color: #666;
  }

  .primary-image__figcap {
    font-size: 0.625rem;
    text-align: right;
    margin: 0 0.3rem 0 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  @media (min-width: 34em) {
    .primary-image__figcap {
      margin-right: 0;
    }
  }

  /* span class="figure-article-caption-owner" */

  /* p */

  .mntl-figure-caption p {
    color: #666;
  }
  .primary-image__figcap p {
    display: inline;
    font-size: 0.625rem;
  }

  /* a */
  .mntl-figure-caption.figure-article-caption a {
    color: #666;
    background-size: 2px 1px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    color: #145d76;
    background-image: linear-gradient(#145d76, #145d76);
  }
  .mntl-figure-caption.figure-article-caption a:hover {
    background-image: none;
  }
  /* ------------------ */
  /* Article Content    */
  /* ------------------ */
  /* Intro              */
  /* div class="comp article-intro mntl-block" */
  .article-intro,
  .list-sc__content,
  .article-outro {
    clear: both;
  }

  /* Content            */
  /* div class="comp list-sc__content mntl-sc-page mntl-block" */

  .mntl-sc-page {
    margin-top: 2rem;
  }

  /* Outro              */
  /* div class="comp article-outro mntl-block" */

  /* ------------------ */
  /* Article Right Rail */
  /* ------------------ */

  /* div class="loc article-right-rail" */

  .article-right-rail {
    grid-area: right-rail;
    position: absolute;
    top: -10000in;
    visibility: hidden;
    max-height: 0;
  }

  @media (min-width: 50em) {
    .article-right-rail {
      display: block;
      position: static;
      top: initial;
      visibility: visible;
      max-height: initial;
    }
  }

  /* div class="comp mntl-right-rail mntl-block" */

  /* div class="comp js-scads-inline-content listsc-billboard-group mntl-block" */
  .mntl-right-rail .js-scads-inline-content {
    position: static;
    top: initial;
  }

  /* div class="comp mntl-block" */

  /* div class="comp scads-to-load right-rail__item billboard1-sticky-dynamic billboard-sticky mntl-sc-sticky-billboard rightrail-ad-placed" */
  .mntl-sc-sticky-billboard {
    height: auto;
    position: static;
    width: auto;
  }
  @media (min-width: 50em) {
    .mntl-right-rail .mntl-sc-sticky-billboard {
      position: static;
      height: 1000px;
      right: 0;
      width: 300px;
    }
  }

  .mntl-right-rail .billboard-sticky:first-child {
    margin-top: -16px;
  }

  /* div class="comp mntl-billboard mntl-sc-sticky-billboard-ad billboard1-dynamic mntl-dynamic-billboard mntl-gpt-dynamic-adunit mntl-gpt-adunit gpt billboard dynamic js-immediate-ad js-immediate-ad-loaded" */
  .mntl-billboard {
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: calc(250px + (30px * 2));
  }

  /* div class="wrapper" */
  .billboard.billboard .wrapper {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 282px;
    width: 300px;
  }

  /* ::before & ::after */
  .billboard .wrapper:after,
  .billboard .wrapper:before {
    color: #666;
    text-transform: uppercase;
  }

  .billboard.billboard .wrapper:after,
  .billboard.billboard .wrapper:before {
    letter-spacing: 0.5px;
    content: "Advertisement";
    height: 16px;
    font-size: 0.625rem;
    color: #707070;
    letter-spacing: 0.5px;
    text-align: center;
  }
</style>
