---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";
import { formatBlogPosts } from "../../script/utils";
import Pagination from "../../components/Pagination.astro";

// filter in getCollection
// const posts = await getCollection("blog", ({ data }) => {
//   return !data.draft;
// });

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection("blog");

  const formattedPosts = formatBlogPosts(posts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: false,
    limit: undefined,
  });

  return paginate(formattedPosts, { pageSize: 2 });
}

interface Props {
  data: CollectionEntry<"blog">[];
  start: number;
  end: number;
  size: number;
  total: number;
  currentPage: number;
  lastPage: number;
  url: {
    current: string | undefined;
    next: string | undefined;
    prev: string | undefined;
  };
}

const { page } = Astro.props as { page?: Props };

const { prev, next } = page?.url || {};

const Tag = "h1";
---

<MainLayout
  title="Blog"
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit"
>
  <section>
    <div class="page-width">
      <Tag>Blog page</Tag>
      <p>The tag being used above is {Tag}</p>
      <p class="color-accent">hello</p>
      <a href="" class="link link--text">Link</a>
    </div>
  </section>
  <section>
    <div class="page-width">
      {
        page?.data.map(({ slug, data: { title, description } }) => (
          <div>
            <h2>{title}</h2>
            <p>{description}</p>
            <a href={`/blog/${slug}`}>Read More</a>
          </div>
        ))
      }
      <Pagination {prev} {next} />
    </div>
  </section>
  <section>
    <div class="page-width">
      <h2>Test Section</h2>
    </div>
  </section>
</MainLayout>
