---
import MainLayout from "../../layouts/MainLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";
import { formatDate } from "../../script/utils";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return !data.draft;
  });

  return blogPosts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
const { title, description, date, author, image } = post.data;

const { Content } = await post.render();
---

<MainLayout {title} {description} {image} data={post.data}>
  <section>
    <div class="page-width">
      <h1>Blog page</h1>
      <p class="color-accent">hello</p>
      <a href="" class="link link--text">Link</a>
    </div>
  </section>
  <section>
    <div class="page-width">
      <h2>{title}</h2>
      <img src={image.src} alt={image.alt} />
      <p>{formatDate(date)}</p>
      <p>{author}</p>
      <Content />
    </div>
  </section>
  <section>
    <div class="page-width">
      <h2>Test Section</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        consectetur? Ipsam voluptas rem nesciunt? Debitis nesciunt fuga minus
        reprehenderit consequuntur?
      </p>
    </div>
  </section>
</MainLayout>
