---
import MainLayout from "../../../layouts/MainLayout.astro";
import CategoryHeader from "../../../components/Categories/CategoryHeader.astro";
import CategoryBody from "../../../components/Categories/CategoryBody.astro";
import { formatBlogPosts } from "../../../script/utils";
import { getCollection, type CollectionEntry } from "astro:content";
import Pagination from "../../../components/Pagination.astro";
import settings from "../../../data/settings.json";

export async function getStaticPaths({ paginate }: any) {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return data.category.some((category: string) => category === "Symbols");
  });
  const formattedPosts = formatBlogPosts(blogPosts, {
    filterOutDrafts: true,
  });

  return paginate(formattedPosts, { pageSize: 24 });
}

interface Props {
  data: CollectionEntry<"blog">[];
  start: number;
  end: number;
  size: number;
  total: number;
  currentPage: number;
  lastPage: number;
  url: {
    current: string;
    next: string | undefined;
    prev: string | undefined;
  };
}

const { page } = Astro.props as { page?: Props };
const {
  url: { prev, next },
  currentPage,
  lastPage,
} = page || { url: {} };

const metaData = settings.meta.symbols;
const path = "/categories/symbols";
---

<MainLayout title={metaData.title} description={metaData.description}>
  <section class="comp taxonomysc mntl-taxonomysc">
    <CategoryHeader
      title="Symbols"
      image="/images/symbols-banner.webp"
      description={metaData.description}
    />

    <CategoryBody posts={page?.data} />
    <Pagination {prev} {next} {currentPage} {lastPage} {path} />
  </section>
</MainLayout>

<style>
  /* section class="comp taxonomysc mntl-taxonomysc" */
  .taxonomysc {
    padding: 0;
  }
</style>
