---
import MainLayout from "../layouts/MainLayout.astro";
import { blurryImageUrl } from "../data/constants";
import settings from "../data/settings.json";

const accounts = settings.author["social-media-accounts"];
---

<MainLayout
  title={`${settings.author.name} - Author`}
  description={`Author page for ${settings.author.name}`}
>
  <article class="comp mntl-article--one-column-full-width mntl-article">
    <div class="loc article-header">
      <div class="comp bio-header">
        <div class="bio-header__top">
          <h1 class="bio-header__title type--camel">{settings.author.name}</h1>
          <div class="loc social-follow">
            <div class="comp travelandleisure-social-nav mntl-social-nav">
              <ul class="social-nav__list">
                {
                  accounts.facebook && (
                    <li class="social-nav__item social-nav__item--facebook">
                      <a
                        href={accounts.facebook}
                        class="social-nav__link social-nav__link--facebook"
                      >
                        <svg class="icon icon-facebook social-nav__icon">
                          <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="#icon-facebook"
                          />
                        </svg>
                      </a>
                    </li>
                  )
                }

                {
                  accounts.instagram && (
                    <li class="social-nav__item social-nav__item--instagram">
                      <a
                        href={accounts.instagram}
                        class="social-nav__link social-nav__link--instagram"
                      >
                        <svg class="icon icon-instagram social-nav__icon">
                          <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="#icon-instagram"
                          />
                        </svg>
                      </a>
                    </li>
                  )
                }
                {
                  accounts.website && (
                    <li class="social-nav__item social-nav__item--website">
                      <a
                        href={accounts.website}
                        class="social-nav__link social-nav__link--website"
                      >
                        <svg class="icon icon-website social-nav__icon">
                          <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="#icon-website"
                          />
                        </svg>
                      </a>
                    </li>
                  )
                }
              </ul>
            </div>
          </div>
        </div>
        <figure
          class="comp figure-portrait figure-article mntl-universal-primary-image primary-image"
        >
          <div class="primary-image__media">
            <div class="img-placeholder" style="padding-bottom: 100%;">
              <img
                src={settings.author.image.src}
                alt={settings.author.image.alt}
                class="primary-image__image mntl-primary-image--blurry loaded"
                onload="(function(e){e.classList.add('loaded')})(this)"
                style={`--blurry: url(${blurryImageUrl})`}
              />
            </div>
          </div>
        </figure>
      </div>
    </div>
    <div class="loc article-content">
      <div class="comp type--dog bio-intro">
        <Fragment set:html={settings.author.bio} />
      </div>
    </div>
  </article>
</MainLayout>

<style>
  /* ------------- */
  /* General       */
  /* ------------- */
  div,
  li,
  ul,
  figure,
  h1,
  p {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  /* ------------- */
  /* Component     */
  /* ------------- */
  /* div class="comp mntl-article--one-column-full-width mntl-article" */
  .mntl-article {
    padding: 0 1rem;
    display: grid;
    position: relative;
    margin: 0 auto;
    grid-template-columns: minmax(0, 37.5rem);
    grid-template-areas: "header" "content";
  }

  @media (min-width: 34em) {
    .mntl-article {
      padding: 0 1.5rem;
    }
  }

  @media (min-width: 50em) {
    .mntl-article {
      padding: 0 2rem;
    }
  }

  /* div class="loc article-header" */
  .article-header {
    position: relative;
    grid-area: header;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  /* div class="comp bio-header" */
  .bio-header {
    margin-top: 1.5rem;
    text-align: center;
  }

  @media (min-width: 50em) {
    .bio-header {
      display: flex;
      align-items: flex-start;
      margin-top: 2rem;
      gap: 0 1rem;
      text-align: left;
    }
  }

  /* ::before */
  .bio-header::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #f9f2e8;
    width: 100vw;
    height: 15rem;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
  }

  @media (min-width: 50em) {
    .bio-header::before {
      height: 11.25rem;
    }
  }

  /* div class="bio-header__top" */

  /* h1 class="bio-header__title type--camel" */
  .type--camel {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.125rem;
    text-underline-offset: 0.5625rem;
  }

  /* div class="loc social-follow" */
  .social-follow {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  @media (min-width: 50em) {
    .social-follow {
      justify-content: unset;
    }
  }

  /* div class="comp travelandleisure-social-nav mntl-social-nav" */

  /* ul class="social-nav__list" */
  .social-nav__list {
    display: flex;
    margin-left: 0;
  }

  .bio-header .social-nav__list {
    margin-top: 0;
    gap: 0.5rem;
  }

  /* li class="social-nav__item social-nav__item--***" */
  .social-nav__item {
    margin-right: 0.25rem;
  }

  /* a class="social-nav__link social-nav__link--***" */
  .bio-header .social-nav__link {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.65);
    border-radius: 50%;
  }

  .bio-header .social-nav__link:active,
  .bio-header .social-nav__link:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.95);
  }

  /* svg class="icon icon-*** social-nav__icon" */
  .bio-header .social-nav__link svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  .icon.icon-facebook {
    fill: #3b5998;
  }
  .icon.icon-instagram {
    fill: #b900b4;
  }

  .icon.icon-website {
    fill: rgba(0, 0, 0, 0.65);
  }

  /* figure class="comp figure-portrait figure-article mntl-universal-primary-image primary-image" */
  figure {
    display: block;
    margin: 0 auto;
    max-width: 15rem;
    margin-top: 1rem;
  }

  @media (min-width: 50em) {
    .bio-header__top + .figure-article.figure-portrait {
      order: -1;
      width: 100%;
      max-width: 11.5rem;
      margin: 0;
    }
  }

  /* div class="primary-image__media" */

  /* div class="img-placeholder" */
  .img-placeholder {
    height: 0;
    overflow: hidden;
    background-color: #c7c7c7;
    position: relative;
    width: 100%;
  }

  /* img class="primary-image__image mntl-primary-image--blurry loaded" */
  img {
    max-width: 100%;
    background-image: var(--blurry);
    background-size: 100% 100%;
    transition: 0.15s filter linear;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  img.loaded {
    background-image: none;
  }

  /* div class="loc article-content" */
  .article-content {
    grid-area: content;
    margin-bottom: 2rem;
  }

  /* div class="comp type--dog bio-intro" */
  .type--dog {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-underline-offset: 0.25rem;
  }

  /* p */
  p {
    margin-bottom: 1rem;
  }
</style>
