---
import MainLayout from "../layouts/MainLayout.astro";
import HeroBanner from "../components/HomePage/HeroBanner.astro";
import TopOfPage from "../components/HomePage/TopOfPage.astro";
import FivePost from "../components/HomePage/FivePost.astro";
import List from "../components/HomePage/List.astro";
import ThreePost from "../components/HomePage/ThreePost.astro";
import settings from "../data/settings.json";
import { getEntryBySlug } from "astro:content";

const metaData = settings.meta.index;

const post = await getEntryBySlug("blog", "twelve-labors-of-hercules-1");
---

<MainLayout title={metaData.title} description={metaData.description}>
  <article class="article--one-col-tax mntl-article">
    <div class="loc article-content">
      <HeroBanner
        title="The Twelve Labors of Hercules"
        author={post.data.author}
        description="Hercules' transformation from a flawed mortal into a revered demigod, a timeless tale of heroism and resilience."
        category={post.data.category[0]}
        link={`/posts/${post.slug}`}
        banner={{
          src: "/images/banner.webp",
          alt: "The Twelve Labors of Hercules",
        }}
      />
      <TopOfPage
        postSlugs={[
          "myths-mjolnir",
          "twelve-labors-of-hercules-4",
          "stories-knights-and-dragons",
          "creatures-resplendant-quetzal",
          "twelve-labors-of-hercules-3",
        ]}
      />
      <FivePost
        category="Myths"
        postSlugs={[
          "myths-mjolnir",
          "twelve-labors-of-hercules-4",
          "stories-knights-and-dragons",
          "creatures-resplendant-quetzal",
          "twelve-labors-of-hercules-3",
        ]}
      />
      <List
        postSlugs={[
          "myths-mjolnir",
          "twelve-labors-of-hercules-4",
          "stories-knights-and-dragons",
          "creatures-resplendant-quetzal",
        ]}
      />
      <ThreePost
        category="Myths"
        postSlugs={[
          "myths-mjolnir",
          "twelve-labors-of-hercules-4",
          "stories-knights-and-dragons",
        ]}
      />
    </div>
  </article>
</MainLayout>

<style>
  /* article class="comp article--one-col-tax mntl-article" */
  .mntl-article {
    padding: 0 1rem;
    display: grid;
    position: relative;
    margin: 0 auto;
    grid-template-columns: minmax(0, 76.25rem);
    grid-template-areas: "header" "post-header" "left-rail" "pre-content" "content" "post-content" "footer";
  }

  @media (min-width: 34em) {
    .mntl-article {
      padding: 0 1.5rem;
    }

    .article--one-col-tax {
      max-width: 37.5rem;
    }
  }

  @media (min-width: 50em) {
    .mntl-article {
      padding: 0 2rem;
    }

    .article--one-col-tax {
      max-width: none;
    }
  }

  /* div class="loc article-content" */
  .article-content {
    grid-area: content;
    /* overflow-x: hidden; */
  }
</style>
