---
import Icon from "astro-icon";
import settingsData from "../data/settings.json";
import { type Settings } from "../types/settings";
import "../styles/header-drawer-global.css";

const settings: Settings = settingsData;
const toggleMobileMenu = `this.setAttribute('aria-expanded', !this.closest('details').hasAttribute('open')); console.log(this.closest('details').hasAttribute('open'))
`;
---

<header-drawer data-breakpoint="tablet">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      onclick={toggleMobileMenu}
    >
      <span>
        <Icon
          name="icon-hamburger"
          class="icon icon-hamburger"
          width="1.25rem"
        />
        <Icon name="icon-close" class="icon icon-close" width="1.25rem" />
      </span>
    </summary>
    <div
      id="menu-drawer"
      class="gradient menu-drawer motion-reduce"
      tabindex="-1"
    >
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {
                settings["navigation-menu"].links.map((navItem, index) => (
                  <li>
                    {navItem.links && navItem.links.length > 0 ? (
                      <details
                        id={`Details-menu-drawer-menu-item-${index + 1}`}
                      >
                        <summary
                          class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                          data-href={navItem.path}
                          data-navLink
                          onclick={toggleMobileMenu}
                        >
                          {navItem.name}
                          <Icon
                            name="icon-arrow"
                            class="icon icon-arrow"
                            width="1.5rem"
                          />
                        </summary>
                        <div
                          class="menu-drawer__submenu has-submenu gradient motion-reduce"
                          tabindex="-1"
                        >
                          <div class="menu-drawer__inner-submenu">
                            <button class="menu-drawer__close-button link link--text focus-inset">
                              <Icon
                                name="icon-arrow"
                                class="icon icon-arrow"
                                width="1.5rem"
                              />
                              {navItem.name}
                            </button>
                            <ul
                              class="menu-drawer__menu list-menu"
                              role="list"
                              tabindex="-1"
                            >
                              {navItem.links.map((link) => (
                                <li>
                                  <a
                                    href={link.path}
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    data-navLink
                                  >
                                    {link.name}
                                  </a>
                                </li>
                              ))}
                            </ul>
                          </div>
                        </div>
                      </details>
                    ) : (
                      <a
                        href={navItem.path}
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                        data-navLink
                      >
                        {navItem.name}
                      </a>
                    )}
                  </li>
                ))
              }
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            <ul class="list list-social list-unstyled" role="list">
              <li class="list-social__item">
                <a
                  href={settings["social-media-accounts"].facebook}
                  class="list-social__link link"
                >
                  <Icon
                    name="mdi:facebook"
                    width="25"
                    class="icon icon-facebook"
                  />
                  <span class="visually-hidden">Facebook</span>
                </a>
              </li>
              <li class="list-social__item">
                <a
                  href={settings["social-media-accounts"].instagram}
                  class="list-social__link link"
                >
                  <Icon
                    name="mdi:instagram"
                    width="25"
                    class="icon icon-instagram"
                  />
                  <span class="visually-hidden">Twitter</span>
                </a>
              </li>
              <li class="list-social__item">
                <a
                  href={settings["social-media-accounts"].twitter}
                  class="list-social__link link"
                >
                  <Icon
                    name="mdi:twitter"
                    width="25"
                    class="icon icon-twitter"
                  />
                  <span class="visually-hidden">Twitter</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>

<style>
  /* ---------------- */
  /* General          */
  /* ---------------- */
  summary {
    cursor: pointer;
    list-style: none;
    position: relative;
  }

  /* .link {
    cursor: pointer;
    display: inline-block;
    border: none;
    box-shadow: none;
    text-decoration: none;
    text-underline-offset: 0.3rem;
    color: rgb(var(--color-link));
    background-color: transparent;
    font-size: 1.4rem;
    font-family: inherit;
  }

  .link--text {
    color: rgb(var(--color-foreground));
  } */

  /* ---------------- */
  /* HeaderDrawer     */
  /* ---------------- */

  header-drawer {
    justify-self: start;
    margin-left: -0.75rem;
  }

  /* header-drawer */
  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  /* details id="Details-menu-drawer-container" class="menu-drawer-container" */
  .menu-drawer-container {
    display: flex;
  }

  /* summary class="header__icon header__icon--menu header__icon--summary link focus-inset" */
  .header__icon {
    color: rgb(var(--color-foreground));
  }

  .header__icon {
    height: 2.75rem;
    width: 2.75rem;
    padding: 0;
  }

  .header__icon--menu {
    position: initial;
  }

  /* ::before */

  .header__icon--menu[aria-expanded="true"]::before {
    content: "";
    top: 100%;
    left: 0;
    height: calc(
      var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
    );
    width: 100%;
    display: block;
    position: absolute;
    background: rgba(var(--color-foreground), 0.5);
  }

  /* .menu-drawer-container:not([open]) > summary::before {
    display: none;
  } */

  /* span */
  .header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }
  /* svg class="icon icon-hamburger" and svg class="icon icon-close" */
  .header__icon .icon {
    fill: none;
    vertical-align: middle;
  }

  .header__icon--menu .icon {
    display: block;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.15s ease, opacity 0.15s ease;
  }

  details:not([open]) > .header__icon--menu .icon-close,
  details[open] > .header__icon--menu .icon-hamburger {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
  }

  /* div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1" */
  .menu-drawer {
    position: absolute;
    transform: translate(-100%);
    visibility: hidden;
    z-index: 3;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 0;
    border-width: 1px 1px 0 0;
    background-color: rgb(var(--color-background));
    overflow-x: hidden;
    border-style: solid;
    border-color: rgba(var(--color-foreground), 0.1);
  }

  @media screen and (min-width: 750px) {
    .menu-drawer {
      width: 25rem;
    }
  }

  .menu-drawer {
    height: calc(
      var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
    );
  }

  details[open] > .menu-drawer,
  details[open] > .menu-drawer__submenu {
    transition: transform 0.2s ease, visibility 0.2s ease;
  }

  details[open].menu-opening > .menu-drawer,
  details[open].menu-opening > .menu-drawer__submenu {
    transform: translate(0);
    visibility: visible;
  }

  /* div class="menu-drawer__inner-container" */
  .menu-drawer__inner-container {
    position: relative;
    height: 100%;
  }

  /* div class="menu-drawer__navigation-container" */
  .menu-drawer__navigation-container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: space-between;
    overflow-y: auto;
    height: 100%;
  }

  /* nav class="menu-drawer__navigation" */
  .menu-drawer__navigation {
    padding: 1.875rem 0;
  }

  /* ul class="menu-drawer__menu has-submenu list-menu" role="list" */
  .list-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-drawer__navigation .submenu-open {
    visibility: hidden;
  }

  /* li */
  .menu-drawer__menu li {
    margin-bottom: 0.125rem;
  }

  /* details id^="Details-menu-drawer-menu-item-" */

  /* summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset" */
  a.menu-drawer__menu-item,
  summary.menu-drawer__menu-item {
    padding: 0.6875rem 2rem;
    text-decoration: none;
    font-size: 1.125rem;
  }

  .menu-drawer__menu-item--active,
  .menu-drawer__menu-item:focus,
  .menu-drawer__close-button:focus,
  .menu-drawer__menu-item:hover,
  .menu-drawer__close-button:hover {
    color: rgb(var(--color-foreground));
    background-color: rgba(var(--color-foreground), 0.04);
  }

  .menu-drawer__menu-item--active:hover {
    background-color: rgba(var(--color-foreground), 0.08);
  }

  a.list-menu__item,
  summary.list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  summary.list-menu__item {
    padding-right: 1.6875rem;
  }

  .menu-drawer summary.menu-drawer__menu-item {
    padding-right: 3.25rem;
  }

  /* svg  class="icon icon-arrow" */
  .menu-drawer__menu-item > .icon-arrow {
    position: absolute;
    right: 1.5625rem;
    top: 50%;
    transform: translateY(-50%);
  }

  /* div class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1" */
  .menu-drawer__submenu {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--color-background));
    border-left: 0.0625rem solid rgba(var(--color-foreground), 0.2);
    z-index: 1;
    transform: translate(100%);
    visibility: hidden;
  }

  /* div class="menu-drawer__inner-submenu" */
  .menu-drawer__inner-submenu {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* button class="menu-drawer__close-button link link--text focus-inset" */
  button.menu-drawer__close-button {
    margin-top: 0.9375rem;
    padding: 0.75rem 1.625rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    width: 100%;
    background-color: transparent;
    text-align: left;
  }

  /* svg class="icon icon-arrow" */
  button.menu-drawer__close-button .icon-arrow {
    transform: rotate(180deg);
    margin-right: 0.625rem;
  }

  /* a class="menu-drawer__menu-item link link--text list-menu__item focus-inset" */

  /* div class="menu-drawer__utility-links" */
  .menu-drawer__utility-links {
    padding: 1.25rem;
    background-color: rgba(var(--color-foreground), 0.03);
    position: relative;
  }

  /* ul class="list list-social list-unstyled" role="list" */
  ul.list-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media only screen and (max-width: 749px) {
    ul.list-social {
      justify-content: center;
    }
  }

  .menu-drawer ul.list-social {
    justify-content: flex-start;
  }

  /* li class="list-social__item" */

  /* a  class="list-social__link link" */
  a.list-social__link {
    align-items: center;
    display: flex;
    padding: 0.8125rem;
    color: rgb(var(--color-foreground));
  }

  .menu-drawer a.list-social__link {
    padding: 0.8125rem 0.78125rem;
  }

  a.list-social__link:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    color: rgb(var(--color-base-accent));
  }
</style>

<script>
  // add class section-header to the header element to complete functionality
  import "../script/header-drawer.ts";
</script>
