---
import { ViewTransitions } from "astro:transitions";
import SEO from "../components/SEO.astro";
import type { SEOProps } from "../types/seo";

const {
  title,
  description,
  image,
  data,
  robots,
  redirect = false,
} = Astro.props as SEOProps & {
  redirect?: boolean;
};
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  {redirect && <meta http-equiv="refresh" content="0;url=/" />}
  <title>{title}</title>
  <ViewTransitions />
  <meta name="description" content={description} />
  <SEO {title} {description} {image} {data} {robots} />
  <style is:global>
    :root {
      --font-body-family: "Poppins", sans-serif;
      --font-body-style: normal;
      --font-body-weight: 400;
      --font-body-weight-bold: 700;

      --font-heading-family: "Poppins", sans-serif;
      --font-heading-style: normal;
      --font-heading-weight: 700;

      --page-width: calc(1200 / 16 * 1rem);

      --color-base-text: 30, 30, 30;
      --color-base-background: 255, 255, 255;
      --color-base-solid-button-labels: 255, 255, 255;
      --color-base-accent: 251, 146, 60;
      --color-link: 30, 30, 30;

      --spacing-sections-mobile: 24px;
      --spacing-sections-desktop: 24px;
    }

    :root {
      --color-foreground: var(--color-base-text);
      --color-background: var(--color-base-background);
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    html {
      box-sizing: border-box;
      height: 100%;
    }

    body {
      display: grid;
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 100%;
      min-height: 100%;
      margin: 0;
      font-size: 0.9375rem;
      letter-spacing: 0.0375rem;
      line-height: 1.8;
      font-family: var(--font-body-family);
      font-style: var(--font-body-style);
      font-weight: var(--font-body-weight);
    }

    @media screen and (min-width: 750px) {
      body {
        font-size: 1rem;
      }
    }
  </style>
</head>
