---
import MainLayout from "../../../layouts/MainLayout.astro";
import CategoryHeader from "../../../components/Categories/CategoryHeader.astro";
import CategoryBody from "../../../components/Categories/CategoryBody.astro";
import { formatBlogPosts } from "../../../script/utils";
import { getCollection, type CollectionEntry } from "astro:content";
import Pagination from "../../../components/Pagination.astro";
import settings from "../../../data/settings.json";
import CategoryFeatured from "../../../components/Categories/CategoryFeatured.astro";

export async function getStaticPaths({ paginate }: any) {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return data.category.some((cat) => cat === "Myths");
  });
  const formattedPosts = formatBlogPosts(blogPosts, {
    filterOutDrafts: true,
  });

  return paginate(formattedPosts, { pageSize: 5 });
}

type Props = {
  page?: {
    data: CollectionEntry<"blog">[];
    start: number;
    end: number;
    size: number;
    total: number;
    currentPage: number;
    lastPage: number;
    url: {
      current: string;
      next: string | undefined;
      prev: string | undefined;
    };
  };
};

const { page } = Astro.props as Props;
const {
  url: { prev, next },
  currentPage,
  lastPage,
} = page || { url: {} };

const metaData = settings.meta.myths;
const path = "/categories/myths";
---

<MainLayout title={metaData.title} description={metaData.description}>
  <section class="comp taxonomysc mntl-taxonomysc">
    <CategoryHeader
      title="Myths"
      image="/images/myths-banner.webp"
      description={metaData.description}
    />
    <CategoryFeatured
      postTitles={[
        "The Twelve Labors of Hercules I: The Nemean Lion",
        "The Twelve Labors of Hercules II: The Hydra's Heads",
        "The Third Labor: Artemis' Golden Hind",
        "The Fourth Labor: The Erymanthian Boar",
      ]}
    />
    <CategoryBody posts={page?.data} />
    <Pagination {prev} {next} {currentPage} {lastPage} {path} />
  </section>
</MainLayout>

<style>
  /* ------------- */
  /* General       */
  /* ------------- */
  section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
  }

  /* ------------- */
  /* component     */
  /* ------------- */
  /* section class="comp taxonomysc mntl-taxonomysc" */
  .taxonomysc {
    padding: 0;

    background-color: #fbf9f6;
  }
</style>
